{% extends "base.html" %}

{% block content %}

<h1 class="titrePage"><strong>La plateforme où vos investissements prennent de l’avance</strong></h1>

<!-- Services -->
<section class="services">
    <div class="service-card">
        <h3>Suivi constant des 10 meilleures cryptos</h3>
        <p>Restez toujours informé des 10 cryptomonnaies les plus performantes en temps réel. Nous vous fournissons des informations actualisées sur leurs tendances de marché, afin que vous puissiez prendre des décisions éclairées, en toute rapidité.</p>
    </div>
    <div class="service-card">
        <h3>Alertes personnalisables</h3>
        <p>Recevez des alertes instantanées sur vos cryptos préférées. Personnalisez vos notifications en fonction des seuils de prix ou des événements importants. Ne manquez jamais une opportunité, même en dehors des heures de trading.</p>
    </div>
    <div class="service-card">
        <h3>Prévisions du cours</h3>
        <p>Profitez de nos outils d'analyse et des prévisions sur l'évolution des prix des cryptos. Grâce à l'IA et à l'analyse technique, vous pouvez anticiper les mouvements du marché et investir avec plus de confiance.</p>
    </div>
</section>


   
{% endblock %}