{% extends "base.html" %}

{% block content %}
<h1 class="titrePage">Liste des Cryptomonnaies</h1>

<!-- Conteneur autour du tableau pour appliquer border-radius -->
<div class="tableau-wrapper">
    <table class="tableau table table-bordered">
        <thead>
            <tr>
                <th>Rang</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Capitalisation boursière</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cryptoTable %}
            <tr>
                <td>{{ row['rank'] }}</td>
                <td><a href="{{ url_for('GraphCrypto', id=row['crypto_id']) }}">{{ row['symbol'] }}<br><strong>{{ row['name'] }}</strong></a></td>
                <td>{{ '{:,.2f}'.format(row['price']) }} €</td>
                <td></td>
                <td>{{ '{:,.0f}'.format(row['volume']) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
